/*
Violet clair : #686ea7
Violet foncé : #43405a
*/

/*
HEADER
*/

.hero .hero-body .subtitle,
.hero .hero-body .title {
  color: #f1f2f6;
}

.has-background {
  background-image: url("../img/bg.png");
  background-position: top center;
  background-attachment: scroll;
  background-color: #95a5a6;
  background-blend-mode: multiply;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

h1.head {
  text-shadow: 3px 1px 3px rgb(77, 81, 128);
}

h2.head {
  text-shadow: 2px 1px 1px rgb(77, 81, 128);
}

/*
END HEADER
*/




/*

MAIN CONTENT

*/


/* 
  Hr purple line 
*/

hr {
  height: 4px;
  margin-bottom: 0px;
  margin-top: -25px;
}

.hr-header {
  height: 4px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.hr-blue {
  background: rgb(104, 110, 167);
  background: linear-gradient(90deg, rgba(104, 110, 167, 1) 0%, rgba(77, 81, 128, 0.053658963585434205) 100%);
}

.hr-blue-invert {
  background: rgb(77, 81, 128);
  background: linear-gradient(90deg, rgba(77, 81, 128, 0.053658963585434205) 0%, rgba(104, 110, 167, 1) 100%);
}

p span {
  color: rgb(82, 96, 224);
}


.padding-image {
  padding-left: 10%;
}

.image-effect {
  border-radius: 10px;
  filter: drop-shadow(0 0 0.20rem rgb(142, 151, 235));
}

.project-effect {
  filter: drop-shadow(0rem 0rem 0.25rem #686ea7);
}

.icon-color {
  color: #686ea7;
}

.footer .fa-github {
  color: #ffffff;
}

.text-right {
  text-align: right;
  float: right;
}

section p a.underline {
  color: rgb(142, 151, 235);
  text-decoration: underline;
}

section p a.underline:hover {
  color: rgb(142, 151, 235, 0.6);
  text-decoration: underline;
}

/* 
  Text selection color change
*/

::selection {
  background: rgb(142, 151, 235);
}

::-moz-selection {
  background: rgb(142, 151, 235);
}


/* 
  Resume button
*/

.btn-hover,
span.btn-hover {
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  border: none;
  background-size: 300% 100%;
  color: #ffffff;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  color: #ffffff;
}

.btn-hover {
  background-image: linear-gradient(to right, #7076a9 0%, #bfc1d9 51%, #7076a9 100%);
  box-shadow: 0 4px 15px 0 rgba(104, 110, 167, 0.75);
}

section a {
  text-decoration: none;
}


/*
  Dropdown menu links
*/
a.link-purple {
  color: rgb(142, 151, 235);
  background-color: #ffffff;
}

a.link-purple:hover {
  background-color: rgb(142, 151, 235);
  color: #ffffff;
}

/*
  Padding icon
*/
.padding-icon {
  margin-right: 8px;
}


/*

END MAIN CONTENT

*/



/*

FOOTER

*/

.footer {
  background-image: url("../img/bg.png");
  background-position: 100% 90%;
  background-color: #95a5a6;
  background-blend-mode: multiply;
  background-size: cover;
}

li {
  list-style-type: none;
}

.fa-linkedin {
  color: #3867d6;
}

a.link {
  color: #dfe6e9;
}

a.link:hover {
  color: rgb(142, 151, 235);
}

a.link-inverted {
  color: rgb(142, 151, 235);
}

a.link-inverted:hover {
  color: rgb(142, 151, 235, 0.8);
}

.text-white {
  color: #dfe6e9;
  font-size: 25px;
}

.padding-badge {
  padding-left: 50%;
}

/*

END FOOTER

*/