/*
HEADER
*/
.hero .hero-body .subtitle,
.hero .hero-body .title {
  color: #dfe6e9;
}

.has-background {
  background-image: url("../img/bg.png");
  background-position: top center;
  background-attachment: scroll;
  background-color: #636e72;
  background-blend-mode: multiply;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

/*
END HEADER
*/




/*
MAIN CONTENT
*/
/* Hr blue line */
hr {
  height: 4px;
  margin-bottom: 0px;
  margin-top: -25px;
}

.hr-header {
  height: 4px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.hr-blue {
  background: rgb(32, 117, 176);
  background: linear-gradient(90deg, rgba(32, 117, 176, 1) 0%, rgba(2, 0, 36, 0.053658963585434205) 100%);
}

.hr-blue-invert {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.053658963585434205) 0%, rgba(32, 117, 176, 1) 100%);
}

/* Resume button */
.btn-hover {
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  border: none;
  background-size: 300% 100%;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.btn-hover {
  background-image: linear-gradient(to right, #4a69bd 0%, #6a89cc 51%, #4a69bd 100%);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

section a {
  text-decoration: none;
}

/*
END MAIN CONTENT
*/



/*
FOOTER
*/
.footer {
  background-image: url("../img/bear.png");
  background-position: auto;
  background-attachment: scroll;
  background-color: #636e72;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.footer .bulma-logo {
  margin-bottom: -10px;
  width: 7%;
}

.footer a .logo-github {
  margin-bottom: -5px;
  font-size: 45px;
  color: black;
}

.footer .footer-text {
  color: #b2bec3;
}

.footer .footer-text b {
  color: #dfe6e9;
}

/*
END FOOTER
*/