/*
HEADER
*/
.hero.has-background {
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.hero-background.is-transparent {
  opacity: 0.4;
}

.hero .hero-body .subtitle,
.hero .hero-body .title {
  color: #dfe6e9;
}

/*
END HEADER
*/



/*
MAIN CONTENT
*/

/*
END MAIN CONTENT
*/




/*
FOOTER
*/
.footer {
  background-color: #2d3436;
}

.footer .bulma-logo {
  margin-bottom: -10px;
  width: 7%;
}

.footer a .logo-github {
  margin-bottom: -5px;
  font-size: 45px;
  color: black;
}

.footer .footer-text {
  color: #b2bec3;

}

.footer .footer-text b {
  color: #dfe6e9;

}

/*
END FOOTER
*/